lapucapu/xml_szablony/request_change_status.dtd

<!ELEMENT xml (message,from)>
<!ELEMENT message EMPTY>
<!ELEMENT from (user)>
<!ELEMENT user (status)>
<!ELEMENT status (#PCDATA)>
<!ATTLIST message type CDATA #FIXED "request">
<!ATTLIST message value CDATA #FIXED "change_status">
<!ATTLIST user uid CDATA #REQUIRED>
<!ATTLIST status state (online|offline|invisible|brb) #REQUIRED>
