lapucapu/xml_szablony/request_add_user.dtd

<!ELEMENT xml (message,from)>
<!ELEMENT message EMPTY>
<!ELEMENT from (user)>
<!ELEMENT user (nick,passwd,name,surname,tel)>
<!ELEMENT nick (#PCDATA)>
<!ELEMENT passwd (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT surname (#PCDATA)>
<!ELEMENT tel (#PCDATA)*>
<!ATTLIST message type CDATA #FIXED "request">
<!ATTLIST message value CDATA #FIXED "add_user">
<!ATTLIST user uid CDATA #REQUIRED>
