lapucapu/xml_szablony/respose_login.dtd

<!ELEMENT xml (message,from,anwser)>
<!ELEMENT message EMPTY>
<!ELEMENT from (user)>
<!ELEMENT anwser (#PCDATA)>
<!ELEMENT user EMPTY>
<!ATTLIST message type CDATA #FIXED "respose">
<!ATTLIST message value CDATA #FIXED "login">
<!ATTLIST anwser state (logged_in|acces_deny) #REQUIRED>
<!ATTLIST user uid CDATA #REQUIRED>
